body{
    background-color: rgb(204, 152, 253);
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.top{
display: flex;
align-items: center;
gap: 50px;
}

.frame{
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 2%;
}

.slider{
    display: flex;
    transition: all 1s ease;
}

.arrow{
    height: 100px;
    cursor: pointer；
}

.left{
    transform: rotate(180deg);
}


.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    width: 13px;
    height: 13px;
    border-radius: 50%; /*画圆的方法*/
    border: 1px solid white;
    cursor: pointer
}

.bottom{
    display: flex;
    gap: 40px;
}
    